@model TyshykWebApp.ViewModels.LoginViewModel

<form method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" />
    </div>
    <div class="form-group">
        <input type="checkbox" id="RememberMe" name="RememberMe" />
        <label for="RememberMe">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

    <p>Don't have an account? <a href="@Url.Action("Register", "Account")">Register here</a></p>

</form>
